<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>Requester</title>

    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>


    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <script>
        angular.module("pocApp",['ui.bootstrap']).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });


    </script>


    <script src="js/requesterCtrl.js"></script>
    <script src="js/requesterSvc.js"></script>

    <script src="js/commonSvc.js"></script>



</head>
<body style="padding: 8px;padding-top: 80px">
    <div ng-app="pocApp" ng-controller="requesterCtrl" class="container-fluid">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="container-fluid">
            <div class="col-md-5 col-sm-5">
                    <span>
                        <a class="navbar-brand" href="#">
                            Requester
                        </a>
                    </span>

            </div>

            <div class="col-md-2 col-sm-2">
                <div class="navbar-text">
                    {{selectedPractitioner.display}}


                </div>

            </div>

            <div class="col-md-1 col-sm-1">
                <form class="navbar-form navbar-left">
                    <img ng-show="showWaiting" src="css/ajax_loader_blue_32.gif"/>

                </form>
            </div>

            <div class="col-md-1 col-sm-1">

            </div>

            <div class="col-md-3 col-sm-3">
                <div class="navbar-text">
                    <select class="form-control" ng-model = "input.selectedPatient"
                            ng-change="selectPatient()"
                            ng-options = "item.display for item in allPatients"></select>
                </div>


            </div>
        </div>
    </nav>

        <div class="row">
            <div class="col-md-2">
                List of patients
                <ul class="list-group">
                    <li ng-class="{'list-group-item':true,listItemSelected:selectedPatient == entry.resource}" ng-repeat = "entry in allPatients.entry"
                        style="cursor: pointer"
                        ng-click="selectPatient(entry.resource)">
                        {{commonSvc.getPatientName(entry.resource)}}
                    </li>
                </ul>
            </div>
            <div class="col-md-10" ng-show="selectedPatient">

                <uib-tabset>
                    <uib-tab heading="New request">
                        <br/>
                        <div class="row">
                            <div class="col-md-6" >

                                <div class="row">
                                    <div class="col-md-8">
                                        <select ng-model="selectedTemplate" class="form-control"
                                                placeholder="Select form"
                                                ng-change="selectQ(selectedTemplate)"
                                                ng-options = "item.display for item in templates">
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-primary" ng-click="submitRequest()">Send request</button>
                                    </div>
                                </div>

                                <pre ng-show="oo">{{oo | json}}</pre>


                                <div ng-hide="oo">
                                    <ng-include src="'/includes/formDisplay.html'"></ng-include>
                                </div>

                            </div>
                            <div class="col-md-6" ng-show="selectedPatient">

                                <uib-tabset>
                                    <uib-tab heading="Text">
                                        <ng-include src="'/includes/QRdisplay.html'"></ng-include>
                                    </uib-tab>
                                    <uib-tab heading="QR">
                                        <pre>{{QR | json}}</pre>
                                    </uib-tab>
                                    <uib-tab heading="SR">
                                        <pre>{{SR | json}}</pre>
                                    </uib-tab>
                                    <uib-tab heading="Bundle">
                                        <pre>{{bundle | json}}</pre>
                                    </uib-tab>
                                </uib-tabset>


                                <!--
                                <button class="btn btn-danger pull-right" ng-click="sendRequest()">Send dummy request</button>

                -->





                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab heading="Previous history">
                        <br/>
                        <ng-include src="'/includes/SRSummary.html'"></ng-include>
                    </uib-tab>
                </uib-tabset>



            </div>
        </div>





        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

            </div>
        </div>

</div>

</body>
</html>