<div>

    <!-- The report  -->
    <h4>Report header</h4>
    <table>
        <tr><td>Issued</td><td>{{selectedDRobject.DR.issued}}</td></tr>
        <tr><td>Identifier</td>
            <td>
                <div ng-repeat="identifier in selectedDRobject.DR.identifier">{{identifier.value}}</div>
            </td>
        </tr>
        <!--
        <tr><td>DR Id</td><td>{{selectedDRobject.DR.id}}</td></tr>
        -->
        <tr><td>Code</td><td>{{selectedDRobject.DR.code.text}}</td></tr>
        <tr><td>Performer</td>
            <td>
                <div ng-repeat="performer in selectedDRobject.DR.performer">{{performer.display}}</div>
            </td>
        </tr>

    </table>

    <h4>Observations</h4>
    <table>
        <tr ng-repeat = "obs in selectedDRobject.observations">
            <!--
            <td>{{obs.id}}</td>

            <td><div ng-repeat = "identifier in obs.identifier">{{identifier}}</div></td>
            -->
            <td>{{obs.code.text}}</td>
            <td>{{obs.valueString}}</td>
        </tr>
    </table>




    disp
    <pre>{{selectedDRobject | json}}</pre>
</div>